obj
bin
*.DS_Store
**/bin
**/obj
**/**/bin
**/**/obj
Dialog/checklist/bin/iPhoneSimulator/Debug/MonoTouch.Dialog.dll

Dialog/checklist/bin/iPhoneSimulator/Debug/MonoTouch.Dialog.dll.mdb

Dialog/checklist/bin/iPhoneSimulator/Debug/checklist.app/MonoTouch.Dialog.dll

Dialog/checklist/bin/iPhoneSimulator/Debug/checklist.app/MonoTouch.Dialog.dll.mdb

Dialog/checklist/bin/iPhoneSimulator/Debug/checklist.app/checklist.exe

Dialog/checklist/bin/iPhoneSimulator/Debug/checklist.app/checklist.exe.mdb

Dialog/checklist/bin/iPhoneSimulator/Debug/checklist.exe

Dialog/checklist/bin/iPhoneSimulator/Debug/checklist.exe.mdb

Dialog/checklist/obj/Debug/monotouch_dll_content_processed
